/*Room Fonts*/
/*Medium*/
@font-face {
    font-family: 'Room';
    src: url('../fonts/room_medium-webfont.eot');
    src: url('../fonts/room_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/room_medium-webfont.woff') format('woff'),
         url('../fonts/room_medium-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
/*Bold*/
@font-face {
    font-family: 'Room';
    src: url('../fonts/room_bold-webfont.eot');
    src: url('../fonts/room_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/room_bold-webfont.woff') format('woff'),
         url('../fonts/room_bold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
/*Black*/
@font-face {
    font-family: 'Room';
    src: url('../fonts/room_black-webfont.eot');
    src: url('../fonts/room_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/room_black-webfont.woff') format('woff'),
         url('../fonts/room_black-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
/*Neris*/
/*Light*/
@font-face {
    font-family: 'Neris';
    src: url('../fonts/neris_light-webfont.eot');
    src: url('../fonts/neris_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neris_light-webfont.woff') format('woff'),
         url('../fonts/neris_light-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;

}
/*Regular*/
@font-face {
    font-family: 'Neris';
    src: url('../fonts/neris-webfont.eot');
    src: url('../fonts/neris-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neris-webfont.woff') format('woff'),
         url('../fonts/neris-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}
/*SemiBold*/
@font-face {
    font-family: 'Neris';
    src: url('../fonts/neris_semibold-webfont.eot');
    src: url('../fonts/neris_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neris_semibold-webfont.woff') format('woff'),
         url('../fonts/neris_semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Neris';
    src: url('../fonts/neris_semibold_italic-webfont.eot');
    src: url('../fonts/neris_semibold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neris_semibold_italic-webfont.woff') format('woff'),
         url('../fonts/neris_semibold_italic-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
/*Blod*/
@font-face {
    font-family: 'Neris';
    src: url('../fonts/neris_bold-webfont.eot');
    src: url('../fonts/neris_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neris_bold-webfont.woff') format('woff'),
         url('../fonts/neris_bold-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

.button{
  padding: 10px 17px;
  border: 1px solid #f7780e;
  border-bottom: 2px solid #f7780e;
  background: linear-gradient(to top, #e49016, #e4ba2d );
  box-shadow: inset 0px 1px 0px #edc05d;
  font-size: 17px;
  font-weight: 400;
  text-transform: none;
  color: #1b2129;
  text-shadow: 1px 0.5px 1px #fff;
  display: inline-block;
  border-radius: 5px;
}
.button:focus, .button:hover {
    background: #e49016;
    color: #1b2129;
    text-decoration: none;
  }
.button:active{
    background: linear-gradient(to top, #e4ba2d, #e49016);
    border: 1px solid #f7780e;
    border-bottom: 2px solid #f7780e;
    box-shadow: inset 0px 1px 2px #000;
}

body{
   min-width: 1200px;
   width: auto !important;
   width:1200px;
   font-family: 'Neris', sans-serif;
}
.container{
    min-width: 1200px !important;
}
/*header*/
/*=============================*/
body header{
  height: 141px;
  line-height: 141px;
}
body header .image {
  display: inline-block;
  width: 100%;
}
body header .image img{
  display: inline-block;
  margin-top: 5px;
  margin-left: 35px;
  max-width: 100%;
}
body header nav{
  line-height: normal;
  display: block;
  width: 100%;
  margin-top: 56px;
}
body header nav a{
  list-style: none;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  border-right: 1px solid #452b2b;
  padding-right: 20px;
  margin-left: 35px;
  padding-top: 12px;
  padding-bottom: 10px;
  color:#303030;
}
body header nav a:nth-last-child(1){
  margin-right: 0;
  border: none;
}
body header nav a:hover, a:focus{
  color: #e49116;
  text-decoration: none;
}
/*@media (min-width: 768px and max-width: 992px) {
  body header nav a{
    padding-right: 10px !important;
    margin-left: 10px !important;
  }
}*/

body header .wrapper-contact{
  line-height: normal;
  display: inline-block;
  font-weight: 600;
  margin-top: 17px;
  margin-left: -17px;
}
body header .wrapper-contact .phone{
  font-size: 25.7px;
  margin-bottom: 16px;
  letter-spacing: 0.6px;
}
/*=============================*/
/*hero*/
/*=============================*/
body .hero {
  background-color: #b32d33;
  background: url(../image/hero-bg.svg) no-repeat 50% 0%;
  padding-bottom: 47px;
}
body .hero .image img{
  margin-left: -92px;
  margin-top: 41px;
}
body .hero .wrapper{
  display: block;
  margin-left: 30px;
}

body .hero .wrapper h1 {
    color: #fff;
    font-family: 'Room',sans-serif;
    font-size: 54px;
    font-weight: 600;
    letter-spacing: 0.6px;
    margin-top: 37px;
    margin-bottom: 44px;
    text-transform: uppercase;
}
body .hero .wrapper h1 b {
  font-weight: 400;
  font-size: 35px;
  display: block;
  color: #171717;
  letter-spacing: 2px;
}
body .hero .wrapper h1 span {
  letter-spacing: 3px;
}

body .hero .wrapper .form {
    display: inline-block;
    margin-left: 88px;
    padding: 14px 27px;
    text-align: center;
    background-color: #eeebe6;
    margin-bottom: 31px;
}

  /*form*/
  /*=============================*/
  body .hero .wrapper .loader, .success {
    display: none;
  }
  body .hero .wrapper .form h1 {
    font-size: 20px;
    margin: 0;
    color: #303030;
    margin-bottom: 24px;
  }
  body .hero .wrapper .form p {
    letter-spacing: 1.4px;
    margin-bottom: 20px;
  }
  body .hero .wrapper .form .form-group {
    margin-bottom: 20px;
  }
  body .hero .wrapper .form input{
    width: 270px !important;
    border: 1px solid #698ac7;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px #698ac7;
    height: 38px;
    padding-left: 17px;
  }
  body .hero .wrapper .form .buttons {
    margin-bottom: 14px;
  }
  body .hero .wrapper .form .buttons .submit{
    border: medium none;
    box-shadow: none;
    height: 53px;
  }
  /*=============================*/
 body .hero .wrapper .lists {
    display: inline-block;
    margin-top: 24px;
    vertical-align: top;
    color: #fff;
    font-weight: 600;
    font-style: italic;
    font-size: 25px;
    width: 42%;
 }
body .hero .wrapper .lists ul {
  margin-bottom: 15px;
}
body .hero .wrapper .lists ul li {
  list-style: none;
  letter-spacing: 1.4px;
  line-height: 33px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
 }
body .hero .wrapper .lists ul li:before {
    content: "•";
    display: inline-block;
    height: 0;
    margin-left: -14px;
    top: 0;
    width: 18px;
}
body .hero .wrapper .lists img {
  margin-left: 36px;
}
body .hero .wrapper .note {
  display: inline-block;
  line-height: 55px;
  margin-left: 88px;
  text-align:center;
  width: 45%;
}
body .hero .wrapper .note .desc {
  display: inline-block;
  font-size: 45px;
  font-family: 'Room', sans-serif;
  font-weight: 600;
  margin-bottom: 0;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  letter-spacing: 3px;
  margin-left: 5px;
}
body .hero .wrapper .note img{
  margin-left: 10px;
}
/*=============================*/
/*Hero Eggs*/
/*=============================*/

body .hero .wrapper-eggs {
  margin-top: 87px;
}
body .hero .wrapper-eggs .egg {
  display: block;
  text-align: center;
  margin-left: -15px;
  margin-right: -15px;
  border-right:1px solid #e1a4a6;
  height: 176px;
}
body .hero .wrapper-eggs .egg img {
  margin-bottom: 10px;
}
body .hero .wrapper-eggs .egg .desc{
  font-family: "Room", sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  margin-left: 20px;
  letter-spacing: 1.5px;
  line-height: 19px;
}
/*=============================*/
/*Section Eggs*/
/*=============================*/
body .eggs {
  padding-top: 64px;
  padding-bottom: 50px;
}
body .eggs h1{
  font-family: 'Room', sans-serif;
  font-size: 45px;
  margin: 0;
  margin-left: 23px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
body .eggs .image {
  text-align: right;
}
body .eggs .image img {
  margin-top: 60px;
}
body .eggs .desc {
  margin-top: 90px;
  margin-left: 34px;
}
body .eggs .desc h2 {
  font-weight: 800;
  font-style: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
body .eggs .desc p {
  /*letter-spacing: 1px;*/
  margin: 0;
  font-size: 20px;
}
/*=============================*/
body .price {
  padding-top: 50px;
  padding-bottom: 50px;
}
body .price h1{
  font-family: 'Room', sans-serif;
  font-size: 45px;
  margin: 0;
  margin-left: 23px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
























